
/* Variables Globales de Colores */
:root {
  --primary-teal: #338ea3;
  --secondary-bg: #d2d8e7;
  --dark-panel: #393848;
  --text-dark: #333;
}

html, body {
  height: auto;
  min-height: 100%;
  overflow-y: auto;  /*scroll del documento */
}

